In [27]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
#FreightRates cədvəli bütün mövcud kuryerləri, hər bir fərdi zolaq üçün çəki boşluqlarını və əlaqəli tarifləri təsvir edir.
#PlantPorts cədvəli real dünyada anbarlar və göndərmə limanları arasında icazə verilən əlaqələri təsvir edir
#ProductsPerPlant cədvəlində dəstəklənən bütün anbar-məhsul birləşmələri sadalanır.
#WhCapacities gündə sifarişlərin sayı ilə ölçülən anbar tutumlarını sadalayır
#WhCosts hər vahid üçün dollarla ölçülən verilmiş anbarda məhsulların saxlanması ilə bağlı xərcləri müəyyən edir.
#tpt_day_cnt catdırılma gununun sayını göstərir
#WhCapacities sifarişlərin sayına uyğundur.
#Məsələn, deyək ki, Müştəri 1 10 vahid X, Müştəri 2 20 vahid Y tələb edir. Sifarişlərin ümumi sayı 2-dir, beləliklə, "whCapacity"də ümumi tutum 2-dir.
# the product ID that needs to be shipped
#, the destination port
#, unit quantity (for cost) and unit weight (for weight constraints)

In [29]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [30]:
mainFile = pd.ExcelFile("Supply chain logisitcs problem.xlsx")

In [31]:
df_dict = {}

for names in mainFile.sheet_names:
    globals()[names] = mainFile.parse(names)
    df_dict[names] = globals()[names]
   
df_dict.keys()

dict_keys(['OrderList', 'FreightRates', 'WhCosts', 'WhCapacities', 'ProductsPerPlant', 'VmiCustomers', 'PlantPorts'])

In [33]:
for df_name, df in df_dict.items():
    print(df_name, '- shape:', df.shape)
    duplicate_count = df.duplicated().sum()
    missing_values_count = df.isnull().sum().sum()
    
    if duplicate_count > 0 or missing_values_count > 0:
        print(f">>>>{df_name} - duplicates: {duplicate_count}; missing values: {missing_values_count}")

OrderList - shape: (9215, 14)
FreightRates - shape: (1540, 11)
>>>>FreightRates - duplicates: 3; missing values: 0
WhCosts - shape: (19, 2)
WhCapacities - shape: (19, 2)
ProductsPerPlant - shape: (2036, 2)
VmiCustomers - shape: (14, 2)
PlantPorts - shape: (22, 2)

In [9]:
FreightRates = FreightRates.drop_duplicates()
df_dict['FreightRates'] = FreightRates

In [10]:
df_dict

{'OrderList':           Order ID Order Date Origin Port Carrier  TPT Service Level  \
 0     1.447296e+09 2013-05-26      PORT09   V44_3    1           CRF
 1     1.447158e+09 2013-05-26      PORT09   V44_3    1           CRF
 2     1.447139e+09 2013-05-26      PORT09   V44_3    1           CRF
 3     1.447364e+09 2013-05-26      PORT09   V44_3    1           CRF
 4     1.447364e+09 2013-05-26      PORT09   V44_3    1           CRF
 ...            ...        ...         ...     ...  ...           ...
 9210  1.447305e+09 2013-05-26      PORT04  V444_1    1           DTD
 9211  1.447319e+09 2013-05-26      PORT04  V444_1    1           DTD
 9212  1.447322e+09 2013-05-26      PORT04  V444_1    1           DTD
 9213  1.447145e+09 2013-05-26      PORT04  V444_1    1           DTD
 9214  1.447328e+09 2013-05-26      PORT04  V444_1    1           DTD

       Ship ahead day count  Ship Late Day count           Customer  \
 0                        3                    0          V55555_53
 1                        3                    0          V55555_53
 2                        3                    0          V55555_53
 3                        3                    0          V55555_53
 4                        3                    0          V55555_53
 ...                    ...                  ...                ...
 9210                     5                    0  V55555555555555_8
 9211                     5                    0  V55555555555555_8
 9212                     5                    0  V55555555555555_8
 9213                     5                    0  V55555555555555_8
 9214                     5                    0  V55555555555555_8

       Product ID Plant Code Destination Port  Unit quantity     Weight
 0        1700106    PLANT16           PORT09            808  14.300000
 1        1700106    PLANT16           PORT09           3188  87.940000
 2        1700106    PLANT16           PORT09           2331  61.200000
 3        1700106    PLANT16           PORT09            847  16.160000
 4        1700106    PLANT16           PORT09           2163  52.340000
 ...          ...        ...              ...            ...        ...
 9210     1683388    PLANT03           PORT09            339   2.354118
 9211     1683388    PLANT03           PORT09            339   2.354118
 9212     1683388    PLANT03           PORT09            245   0.294265
 9213     1683430    PLANT03           PORT09            278   2.480000
 9214     1683424    PLANT03           PORT09            317   1.960000

 [9215 rows x 14 columns],
 'FreightRates':      Carrier orig_port_cd dest_port_cd  minm_wgh_qty  max_wgh_qty svc_cd  \
 0     V444_6       PORT08       PORT09         250.0       499.99    DTD
 1     V444_6       PORT08       PORT09          65.0        69.99    DTD
 2     V444_6       PORT08       PORT09          60.0        64.99    DTD
 3     V444_6       PORT08       PORT09          50.0        54.99    DTD
 4     V444_6       PORT08       PORT09          35.0        39.99    DTD
 ...      ...          ...          ...           ...          ...    ...
 1535  V444_8       PORT03       PORT09           0.0        99.99    DTD
 1536  V444_8       PORT03       PORT09         500.0      1999.99    DTD
 1537  V444_8       PORT03       PORT09         250.0       499.99    DTD
 1538  V444_8       PORT03       PORT09        2000.0     99999.99    DTD
 1539  V444_8       PORT03       PORT09         100.0       249.99    DTD

       minimum cost    rate mode_dsc  tpt_day_cnt Carrier type
 0          43.2272  0.7132   AIR               2  V88888888_0
 1          43.2272  0.7512   AIR               2  V88888888_0
 2          43.2272  0.7892   AIR               2  V88888888_0
 3          43.2272  0.8272   AIR               2  V88888888_0
 4          43.2272  1.0552   AIR               2  V88888888_0
 ...            ...     ...      ...          ...          ...
 1535       29.3392  0.4116   AIR               0  V88888888_0
 1536       29.3392  0.3112   AIR               0  V88888888_0
 1537       29.3392  0.4116   AIR               0  V88888888_0
 1538       29.3392  0.3112   AIR               0  V88888888_0
 1539       29.3392  0.4116   AIR               0  V88888888_0

 [1537 rows x 11 columns],
 'WhCosts':          WH  Cost/unit
 0   PLANT15   1.415063
 1   PLANT17   0.428947
 2   PLANT18   2.036254
 3   PLANT05   0.488144
 4   PLANT02   0.477504
 5   PLANT01   0.566976
 6   PLANT06   0.554088
 7   PLANT10   0.493582
 8   PLANT07   0.371424
 9   PLANT14   0.634330
 10  PLANT16   1.919808
 11  PLANT12   0.773132
 12  PLANT11   0.555247
 13  PLANT09   0.465071
 14  PLANT03   0.517502
 15  PLANT13   0.469707
 16  PLANT19   0.639763
 17  PLANT08   0.522857
 18  PLANT04   0.428503,
 'WhCapacities':    Plant ID  Daily Capacity
 0   PLANT15               11
 1   PLANT17                8
 2   PLANT18              111
 3   PLANT05              385
 4   PLANT02              138
 5   PLANT01             1070
 6   PLANT06               49
 7   PLANT10              118
 8   PLANT07              265
 9   PLANT14              549
 10  PLANT16              457
 11  PLANT12              209
 12  PLANT11              332
 13  PLANT09               11
 14  PLANT03             1013
 15  PLANT13              490
 16  PLANT19                7
 17  PLANT08               14
 18  PLANT04              554,
 'ProductsPerPlant':      Plant Code  Product ID
 0       PLANT15     1698815
 1       PLANT17     1664419
 2       PLANT17     1664426
 3       PLANT17     1672826
 4       PLANT17     1674916
 ...         ...         ...
 2031    PLANT04     1699951
 2032    PLANT04     1699952
 2033    PLANT04     1699953
 2034    PLANT04     1699954
 2035    PLANT04     1699974

 [2036 rows x 2 columns],
 'VmiCustomers':    Plant Code                Customers
 0     PLANT02        V5555555555555_16
 1     PLANT02      V555555555555555_29
 2     PLANT02             V555555555_3
 3     PLANT02        V55555555555555_8
 4     PLANT02              V55555555_9
 5     PLANT02                V55555_10
 6     PLANT02              V55555555_5
 7     PLANT06      V555555555555555_18
 8     PLANT06                V55555_10
 9     PLANT10      V555555555555555_29
 10    PLANT10               V555555_34
 11    PLANT10  V5555555555555555555_54
 12    PLANT10                V55555_10
 13    PLANT11  V5555555555555555555_54,
 'PlantPorts':    Plant Code    Port
 0     PLANT01  PORT01
 1     PLANT01  PORT02
 2     PLANT02  PORT03
 3     PLANT03  PORT04
 4     PLANT04  PORT05
 5     PLANT05  PORT06
 6     PLANT06  PORT06
 7     PLANT07  PORT01
 8     PLANT07  PORT02
 9     PLANT08  PORT04
 10    PLANT09  PORT04
 11    PLANT10  PORT01
 12    PLANT10  PORT02
 13    PLANT11  PORT04
 14    PLANT12  PORT04
 15    PLANT13  PORT04
 16    PLANT14  PORT07
 17    PLANT15  PORT08
 18    PLANT16  PORT09
 19    PLANT17  PORT10
 20    PLANT18  PORT11
 21    PLANT19  PORT04}

In [11]:
mainFile

In [12]:
for df_name, df in df_dict.items():
    df.columns = [col.strip().replace(' ', '_').replace('/', '_').upper() for col in df.columns]

In [14]:
orderList = df_dict['OrderList']  
# order list datsını FreightRates və WhCosts datası ilə müvafiq sütunları birləşdiririk
orderList = orderList.merge(df_dict['FreightRates'], left_on=['CARRIER', 'ORIGIN_PORT', 'DESTINATION_PORT'],
                            right_on=['CARRIER', 'ORIG_PORT_CD', 'DEST_PORT_CD'], how='left')
orderList = orderList.merge(df_dict['WhCosts'], left_on='PLANT_CODE', right_on='WH', how='left')
# Vahid miqdarını göndərmə dərəcəsi ilə vuraraq və saxlama dəyərini əlavə etməklə costu hesablayırıq
orderList['COST'] = (orderList['UNIT_QUANTITY'] * orderList['RATE']) + (orderList['UNIT_QUANTITY'] * orderList['COST_UNIT'])
orderList = orderList.dropna() 
orderList['ORDER_DATE'] = pd.to_datetime(orderList['ORDER_DATE'])
productsPerPlant = df_dict['ProductsPerPlant']
productsPerPlant = productsPerPlant.dropna()  
# dicti update edirik 
df_dict['OrderList'] = orderList
df_dict['ProductsPerPlant'] = productsPerPlant

orderList

,ORDER_ID,ORDER_DATE,ORIGIN_PORT,CARRIER,TPT,SERVICE_LEVEL,SHIP_AHEAD_DAY_COUNT,SHIP_LATE_DAY_COUNT,CUSTOMER,PRODUCT_ID,...,MAX_WGH_QTY,SVC_CD,MINIMUM_COST,RATE,MODE_DSC,TPT_DAY_CNT,CARRIER_TYPE,WH,COST_UNIT,COST
854,1.447385e+09,2013-05-26,PORT09,V444_0,0,DTP,0,0,V55555_4,1692724,...,5000.00,DTP,31.2784,12.2784,GROUND,0.0,V88888888_0,PLANT16,1.919808,4713.804893
855,1.447385e+09,2013-05-26,PORT09,V444_0,0,DTP,0,0,V55555_4,1692724,...,5000.00,DTD,31.2784,13.2784,GROUND,0.0,V88888888_0,PLANT16,1.919808,5045.804893
856,1.447338e+09,2013-05-26,PORT09,V444_0,0,DTP,0,0,V55555_4,1692724,...,5000.00,DTP,31.2784,12.2784,GROUND,0.0,V88888888_0,PLANT16,1.919808,5082.958288
857,1.447338e+09,2013-05-26,PORT09,V444_0,0,DTP,0,0,V55555_4,1692724,...,5000.00,DTD,31.2784,13.2784,GROUND,0.0,V88888888_0,PLANT16,1.919808,5440.958288
858,1.447407e+09,2013-05-26,PORT09,V444_0,0,DTP,3,0,V555555_6,1692722,...,5000.00,DTP,31.2784,12.2784,GROUND,0.0,V88888888_0,PLANT16,1.919808,5807.066871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209397,1.447328e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683424,...,99.99,DTD,7.8044,0.0804,AIR,1.0,V888888883_1,PLANT03,0.517502,189.534900
209398,1.447328e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683424,...,299.99,DTD,11.2272,0.0792,AIR,1.0,V888888883_1,PLANT03,0.517502,189.154500
209399,1.447328e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683424,...,499.99,DTD,31.2672,0.0780,AIR,1.0,V888888883_1,PLANT03,0.517502,188.774100
209400,1.447328e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683424,...,999.99,DTD,49.4272,0.0760,AIR,1.0,V888888883_1,PLANT03,0.517502,188.140100
209401,1.447328e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683424,...,9999.99,DTD,95.2272,0.0744,AIR,1.0,V888888883_1,PLANT03,0.517502,187.632900

In [15]:
for df_name, df in df_dict.items():
    print(f'Dataframe: {df_name} >>>')
    print('Columns:', df.columns.values)

Dataframe: OrderList >>>
Columns: ['ORDER_ID' 'ORDER_DATE' 'ORIGIN_PORT' 'CARRIER' 'TPT' 'SERVICE_LEVEL'
 'SHIP_AHEAD_DAY_COUNT' 'SHIP_LATE_DAY_COUNT' 'CUSTOMER' 'PRODUCT_ID'
 'PLANT_CODE' 'DESTINATION_PORT' 'UNIT_QUANTITY' 'WEIGHT' 'ORIG_PORT_CD'
 'DEST_PORT_CD' 'MINM_WGH_QTY' 'MAX_WGH_QTY' 'SVC_CD' 'MINIMUM_COST'
 'RATE' 'MODE_DSC' 'TPT_DAY_CNT' 'CARRIER_TYPE' 'WH' 'COST_UNIT' 'COST']
Dataframe: FreightRates >>>
Columns: ['CARRIER' 'ORIG_PORT_CD' 'DEST_PORT_CD' 'MINM_WGH_QTY' 'MAX_WGH_QTY'
 'SVC_CD' 'MINIMUM_COST' 'RATE' 'MODE_DSC' 'TPT_DAY_CNT' 'CARRIER_TYPE']
Dataframe: WhCosts >>>
Columns: ['WH' 'COST_UNIT']
Dataframe: WhCapacities >>>
Columns: ['PLANT_ID' 'DAILY_CAPACITY']
Dataframe: ProductsPerPlant >>>
Columns: ['PLANT_CODE' 'PRODUCT_ID']
Dataframe: VmiCustomers >>>
Columns: ['PLANT_CODE' 'CUSTOMERS']
Dataframe: PlantPorts >>>
Columns: ['PLANT_CODE' 'PORT']

In [19]:
orderList.to_csv("orderList.csv")

In [20]:
df_dict['FreightRates'].to_csv("FreightRates.csv")

In [21]:
df_dict['WhCapacities'].to_csv("WhCapacities.csv")

In [22]:
df_dict['ProductsPerPlant'].to_csv("ProductsPerPlant.csv")

In [23]:
df_dict['WhCosts'].to_csv("WhCosts.csv")

In [26]:
df_dict['PlantPorts'].to_csv("PlantPorts.csv")